<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711635158425-umjk7ugu4cooc0ckhh92rnjpv9pqvnsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711635158425-umjk7ugu4cooc0ckhh92rnjpv9pqvnsb</string>
	<key>API_KEY</key>
	<string>AIzaSyA5868hqc4qhlfBqID3gNE9Gf0vJpmjGE4</string>
	<key>GCM_SENDER_ID</key>
	<string>711635158425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coastLink</string>
	<key>PROJECT_ID</key>
	<string>coast-social-app</string>
	<key>STORAGE_BUCKET</key>
	<string>coast-social-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711635158425:ios:a097e67bf0a7aad690ff08</string>
</dict>
</plist>